//
//  Staging.xcconfig
//  SuperApp_PQ
//
//  Created by Phan Quang on 28/5/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

APP_ENVIRONMENT = Staging
PRODUCT_NAME = Super App Staging
APP_NAME = Super App Staging
APP_ICON = AppIconStaging
MARKETING_VERSION = 1.0.0
PRODUCT_BUNDLE_IDENTIFIER = com.vn.SuperAPP.Staging
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconStaging
BASE_URL = https:/$()/staging-api.example.com
CURRENT_PROJECT_VERSION = 14
